<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>$title$</title>
    <meta name="description" content="$description$">
    <link rel="icon" type="image/svg" href="$base-path$assets/logo/favicon.ico">
    <link rel="stylesheet" href="$base-path$default_style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>